@import url(./vendor/fonts/font.scss);

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  margin: 0;
  box-sizing: border-box;
  background: #202020;
}
